<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scan QR Code</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>

<style>
  body {
    background-color: #F9AD0A;
  }

  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }

  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }

  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  .spinner::after {
    margin: 8.9px;
  }

  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }
</style>

<body>

  <div class="g-captcha-container d-flex justify-content-center w-100 align-items-baseline flex-column"
    style="height: 100vh">
    <div class="mx-auto">
      <div class="my-2" id="google-captcha"></div>
      <button id="submit-recaptcha" class="btn p-1 px-3" style="background-color: white; border: none;">Submit</button>
    </div>
  </div>

  <section class="section">
    <div class="row" style="width: 100%;">
      <div class="col-12 text-center px-3 mx-3 my-3">
        <img src="https://www.kodingakademi.id/wp-content/uploads/2020/11/logo-kodak-scaled-1.jpg" alt="profile"
          width="230" class="rounded">
      </div>
      <div class="col-6 px-3 mx-3">
        <video id="webcam" style="width: 100%; height: 100%;"></video>
      </div>
      <div id="content-data" class="col px-2 py-3 m-3 bg-white rounded"></div>
  </section>
</body>

</html>

<script>
  var onloadCallback = function () {
    $('.section').addClass('d-none')
    grecaptcha.render('google-captcha', {
      'sitekey': '6LcxIicmAAAAAHA9z94-kibKynGvHivJBV_tFeqO'
    })
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>

  $('#submit-recaptcha').on('click', () => {
    if (grecaptcha.getResponse().length === 0) {
      alert('Invalid response')
    } else {
      $('.g-captcha-container').addClass('d-none')
      $('.section').removeClass('d-none')
      const scanner = new Instascan.Scanner({ video: document.getElementById('webcam') })
      Instascan.Camera.getCameras().then((cameras) => {
        if (cameras.length > 0) {
          scanner.start(cameras[0])
        } else {
          alert('No cameras found.')
        }
      }).catch((e) => console.error(e))

      scanner.addListener('scan', (qr) => {
        $('#content-data').html(`
    <div class="d-flex justify-content-center align-items-center" style="height: 480px;">
      <div id="loader" style="display: none;" class="spinner"></div>
    </div>
    `)
        $('#loader').show()

        setTimeout(() => {
          $.ajax({
            type: 'GET',
            url: `/scan-qr/${qr}`,
            success: function (response) {
              $('#content-data').html(`
            <h5 class="text-primary m-2">STUDENT DATA</h5>
            <div class="my-4 d-flex gap-3 px-4">
              <img src="https://www.kindpng.com/picc/m/451-4517876_default-profile-hd-png-download.png" alt="profile"
                width="150" class="rounded">
              <div>
                <h5>ID : ${response.data.id}</h5>
                <h5>Name: ${response.data.name}</h5>
                <h5>Email: ${response.data.email}</h5>
              </div>
            </div>
            <h5 class="my-3 text-primary m-2">ACTIVE COURSE</h5>
            <div class="d-flex gap-2 flex-wrap px-4">
              ${response.data.product_active.map(course => `
                <div class="card" style="width: 12rem;">
                  <img src="${course.img_url}" class="card-img-top"
                    alt="course">
                  <div class="card-body">
                    <h5 class="card-title">${course.product_name}</h5>
                    <h6 class="card-subtitle mb-2">Expired: <span class="text-success">${new Date(course.expired_date).toLocaleDateString('id-ID')}</span></h6>
                  </div>
                </div>
              `)}
            </div>
          </div>
      `)
            },
            error: function (jqXHR, textStatus, errorThrown) {
              $('#content-data').html(`
          <div class="d-flex justify-content-center align-items-center" style="height: 480px;">
            <span class="text-danger fs-4">QR CODE TIDAK VALID</span>
          </div>
          `)
            }
          })
          $('#loader').hide()
        }, 2000)
      })
    }
  })

</script>