<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
    }

    h2 {
      color: green;
      font-size: 35px;
    }

    a {
      border-radius: 5px;
      color: white;
      padding: 15px 20px;
      background-color: rgb(62, 62, 248);
      text-decoration: none;
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <img width="100" src="https://th.bing.com/th/id/OIP.oUEzkTPkAKq3HNCesBlZlAHaHa?pid=ImgDet&rs=1">
  <h2>Password Updated!</h2>
  <p>Your password has been successfully updated.</p>
  <a href="koding-akademi-mobile://">Open the application</a>
</body>

</html>