<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link href="https://www.kodingakademi.id/wp-content/uploads/2020/11/logo-kodak-scaled-1.jpg" rel="icon">
  <style>
    body {
      background-color: #0B2347;
      font-family: Arial, sans-serif;
    }

    .wrapper {
      margin: 70px 10px;
    }

    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 17px 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin: 30px 0;
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: center;
    }

    label {
      font-size: 16px;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    button {
      background-color: #F9AD0A;
      color: #fff;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    button:hover {
      background-color: #e09b07;
    }

    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <h1 style="color: white;">RESET PASSWORD</h1>
    <div class="form-container">
      <h5 id="error-message" style="color: red; text-align: center;"></h5>
      <form>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>

        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const urlParams = new URLSearchParams(window.location.search)
    const userId = urlParams.get('id')
    const token = urlParams.get('token')

    $('form').on('submit', (e) => {
      e.preventDefault()
      console.log(userId)
      $('button').prop('disabled', true)

      const password = $('#new-password').val()
      const confirmPassword = $('#confirm-password').val()

      axios.put(`/forgot-password`, {
        password, confirmPassword, userId, token
      })
        .then((res) => {
          window.location.href = '/forgot-password/redirect'
        })
        .catch((err) => {
          $('#error-message').html(err.response.data.message)
        })
      $('button').prop('disabled', false)
    })
  </script>
</body>

</html>