<%- include('partials/header') -%>
  <%- include('partials/navigation') %>
    <main id="main" class="main">
      <%- include(`pages/${page}/page`) %>
    </main>
    <%- include('partials/footer') %>