<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

<section class="section">

  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input id="name" type="text" class="form-control" placeholder="John Doe" autocomplete="off" required>
              <label>Nama Lengkap</label>
            </div>
            <div class="form-floating mb-3">
              <input id="email" type="email" class="form-control" placeholder="contoh@example.com" autocomplete="off"
                required>
              <label>Email</label>
            </div>
            <div class="form-floating mb-3">
              <input id="password" type="password" name="password" class="form-control" placeholder="password" required>
              <label>Password</label>
            </div>
            <div class="form-floating">
              <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                placeholder="password" required>
              <label>Confirm Password</label>
            </div>
          </div>
          <div class="modal-footer">
            <button onclick="tambahData()" type="button" class="btn btn-md btn-success">Simpan</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- End Modal -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kelola Data User</h5>
          <button type="button" class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#formModal">
            <i class="bi bi-person-fill-add"></i>
            Tambah User
          </button>

          <table id="myTable" class="hover row-border cell-border">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Verified</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  function tambahData() {
    $('.modal-footer button').prop('disabled', true)
    const name = $('#name').val()
    const email = $('#email').val()
    const password = $('#password').val()
    const confirmPassword = $('#confirmPassword').val()

    // validasi
    if (name === '' || email === '' || password === '' || confirmPassword === '') {
      swal({
        title: "Warning!",
        text: "Data tidak boleh kosong!",
        icon: "warning",
        button: "OK",
      })
      $('.modal-footer button').prop('disabled', false)
      return
    }

    axios.post('http://localhost:3000/api/users', {
      name, email, password, confirmPassword
    }).then(res => {
      swal({
        title: "Success!",
        text: "Berhasil disimpan!",
        icon: "success",
        button: "OK",
      }).then((btnClicked) => {
        if (btnClicked) {
          window.location.reload()
        } else {
          setInterval(() => {
            window.location.reload()
          }, 500)
        }
        $('.modal-footer button').prop('disabled', false)
      })
    }).catch(err => {
      const { message } = err.response.data
      swal({
        title: "Warning!",
        text: message,
        icon: "warning",
        button: "OK",
      })
      $('.modal-footer button').prop('disabled', false)
    })
  }

  const users = []
  axios.get('http://localhost:3000/api/users').then(response => {
    const { data } = response.data
    data.forEach((user, i) => {
      console.log(user)
      const singleData = {
        "#": i + 1,
        "name": user.name,
        "email": user.email,
        "verified": (user.verified === 0) ? `<span class="text-danger">No</span>` : '<span class="text-success">Yes</span>',
        "action": `<a href="/admin/user-handler/show/${user.id}">Lihat Detail</a>`
      }
      users.push(singleData)
    })

    $('#myTable').DataTable({
      "data": users,
      "columns": [
        { "data": "#" },
        { "data": "name" },
        { "data": "email" },
        { "data": "verified" },
        { "data": "action" },
      ]
    })
  })

</script>