<section>
  <input type="hidden" id="idUser" value="<%= data.id %>">

  <div class="profile-user d-flex border border-2 p-4 my-3 gap-2">
    <img src="https://www.kindpng.com/picc/m/451-4517876_default-profile-hd-png-download.png" alt="profile-picture"
      width="150">
    <div class="profile-detail">
      <h5 id="userName"><span class="fw-bold">Name:</span>
        <%= data.full_name %>
      </h5>
      <h5 id="userEmail"><span class="fw-bold">Email:</span>
        <%= data.email %>
      </h5>
    </div>
  </div>

  <button id="deleteBtn" class="btn btn-danger btn-sm">
    <i class="bi bi-trash"></i>
    Delete
  </button>
  <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">
    <i class="bi bi-pencil-square"></i>
    Update
  </button>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input id="nameInput" type="text" class="form-control" placeholder="John Doe" autocomplete="off" required>
              <label>Nama Lengkap</label>
            </div>
          </div>
          <div class="modal-footer">
            <button id="updateBtn" type="button" class="btn btn-md btn-success">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>