<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Confirmation Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
    }

    h2 {
      color: green;
      font-size: 35px;
    }

    a {
      border-radius: 5px;
      color: white;
      padding: 15px 20px;
      background-color: rgb(62, 62, 248);
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <img width="250" src="https://www.maxprog.com/pictures/icon_eMailVerifier_new_1200x630.png">
  <h2>Account Verified!</h2>
  <p>Your account has been successfully verified. Login in app to continue</p>
  <a href="koding-akademi-mobile://">Open the application</a>
</body>

</html>