<section>
  <div class="bg-white rounded shadow-sm p-4 my-3">
    <div class="d-flex gap-3 align-items-center">
      <div class="col">
        <h4 class="fw-bold">
          Coupon Detail
        </h4>
      </div>
    </div>

    <div class="px-4">
      <h5>
        Coupon Code: <%= data.coupon_code %>
      </h5>
      <% const options={weekday: 'long' , day: 'numeric' , month: 'long' , year: 'numeric' } %>
        <h6>
          Expired:
          <span class="text-success">
            <%= data.coupon_end.toLocaleDateString('id-ID', options) %>
          </span>
        </h6>
        <h6>
          Discount: <%= data.discount %>
        </h6>
    </div>

  </div>

</section>