<h3 class="fw-bold text-center">Add Course</h3>

<div class="w-100 bg-white p-4 rounded shadow-sm">
  <form id="form" action="/admin/courses" method="post" enctype="multipart/form-data">
    <div class="modal-body">

      <!-- IMG -->
      <div class="d-flex mb-3 align-items-center gap-2">
        <div class="col-2 text-center">
          <img id="cover-img" src="https://th.bing.com/th/id/OIP.kzI1EUFN1_qi7eISbXDekgHaHK?pid=ImgDet&rs=1" alt="Cover"
            width="100">
        </div>
        <div class="col-8">
          <input type="file" name="img" accept="image/*" class="form-control" onchange="previewImage(event)">
        </div>
      </div>

      <!-- NAME -->
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" placeholder="Course" autocomplete="off" required>
        <label>Course Name</label>
      </div>

      <div class="d-flex">
        <!-- CATEGORY -->
        <div class="form-floating col-4">
          <select name="category_id" class="form-select" id="floatingSelectDisabled"
            aria-label="Floating label disabled select example">
            <option value="cat-course-1" selected>Coding</option>
            <option value="cat-course-2">App Programming</option>
            <option value="cat-course-3">Engineering</option>
            <option value="cat-course-4">Coding Bootcamp</option>
            <option value="cat-course-5">Robotic</option>
          </select>
          <label for="floatingSelectDisabled">Category</label>
        </div>
        <!-- QUOTA -->
        <div class="form-floating mb-3 col-4">
          <input type="number" value="1000" name="quota" class="form-control" placeholder="1" required>
          <label>Quota</label>
        </div>
        <!-- DURATION -->
        <div class="form-floating mb-3 col-4">
          <input type="number" value="3" name="duration" class="form-control" placeholder="1" required>
          <label>Duration (Month)</label>
        </div>
      </div>
      <!-- PRICE -->
      <div class="form-floating mb-3">
        <input type="hidden" id="harga" name="price">
        <input id="hargaDisplay" onkeyup="formatHarga(this.value)" type="text" class="form-control" placeholder="1"
          autocomplete="off" required>
        <label>Price (Rp)</label>
      </div>

      <div class="form-check form-check-inline mb-3">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Promo?</label>
      </div>

      <!-- DISCOUNT PRICE -->
      <div class="form-floating mb-3 promo" style="display: none;">
        <input id="discount" type="hidden" name="discount_price">
        <input id="discountDisplay" onkeyup="formatDiscount(this.value)" type="text" class="form-control"
          placeholder="1">
        <label>Discount Price (Rp)</label>
      </div>

      <div class="d-flex gap-2 mb-3">
        <!-- DESCRIPTION -->
        <div class="col">
          <textarea name="description" id="editor" placeholder="Description"></textarea>
        </div>
      </div>

    </div>

    <div class="mt-4 d-flex gap-2 modal-footer">
      <a href="/admin/courses" class="btn btn-md btn-danger">Cancel</a>
      <button type="submit" class="btn btn-md btn-success">Save</button>
    </div>
  </form>
</div>

<script>
  const editor = Jodit.make('#editor')


  $('#inlineCheckbox1').on('change', function () {
    if ($('#inlineCheckbox1').prop('checked')) {
      $('.promo').show()
      $('#discountDisplay').prop('required', true)
    } else {
      $('.promo').hide()
      $('#discount').val(null)
      $('#discountDisplay').prop('required', false)
    }
  })

  $('#form').submit(function (e) {
    e.preventDefault()
    $('button[type="submit"]').prop('disabled', true)
    const formData = new FormData(this)
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        swal({
          title: 'Success!',
          text: 'Course Added',
          icon: 'success',
        }).then((result) => {
          window.location.href = '/admin/courses'
        })
      },
      error: function (err) {
        swal({
          title: 'Error!',
          text: 'An error occured',
          icon: 'error'
        })
      }
    })
    $('button[type="submit"]').prop('disabled', false)
  })

  function formatHarga(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#hargaDisplay').val(formattedNumber)
    $('#harga').val($('#hargaDisplay').val().replace(/\./g, ''))
  }

  function formatDiscount(harga) {
    const number = harga.replace(/\D/g, '')
    const formattedNumber = new Intl.NumberFormat('id-ID').format(number)
    $('#discountDisplay').val(formattedNumber)
    $('#discount').val($('#discountDisplay').val().replace(/\./g, ''))
  }

  function previewImage(event) {
    const file = event.target.files[0]
    const reader = new FileReader()
    reader.onload = function () {
      $('#cover-img').attr('src', reader.result)
    }
    if (file) {
      reader.readAsDataURL(file)
    }
  }

</script>