<section class="section error-404 min-vh-50 d-flex flex-column align-items-center justify-content-center">
  <h1>404</h1>
  <h2>Course Not Found</h2>
  <a class="btn" href="/admin/courses">Back to Courses</a>
</section>